@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background-image: linear-gradient(to right,#F0F2DC, #9CB6D9);
}

main{

    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 15px 15px 25px #5884b0;

}
h1{
    color:#6089BF ;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}


h2{
    color:#9CB6D9 ;
}

p{
    text-align: justify;#
}
